<!DOCTYPE html>
<html ng-app="longfoodApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LongFood</title>

    <link href="assets/css/navbar.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
</head>
<body>
    <div class="container" >
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">Longfood</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" ng-controller="MainCtrl">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a href="#/{{lang}}">Home</a></li>
                        <li ui-sref-active="active"><a href="#/about/{{lang}}">About</a></li>
                        <li ui-sref-active="active"><a href="#/contact/{{lang}}">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-controller="LangController">
                        <li ng-repeat="menu in menus" ng-class="{active:menu.selected}">
                            <a href="{{menu.href}}" ng-click="select(menu)">{{menu.text}}</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div ui-view></div>
        <pre>
          <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
          $state = {{$state.current.name}}
          $stateParams = {{$stateParams}}
          $state full url = {{ $state.$current.url.source }}
          <!-- $state.$current is not a public api, we are using it to
               display the full url for learning purposes-->
        </pre>
        <div class="footer">
            <p>&copy;2015 LongFood. All Rights Reserved.</p>
        </div>
    </div>

    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
